<p id="notice"><%= notice %></p>

<h1>Welcome to let's chat</h1>
<div>
	<nav>
	
	</nav>
</div>
<div class ="post-div">
	<table class ="table">
		<thead>
			<tr>
				<th>Posted by</th>
				<th colspan="3">Take action</th>
			</tr>
		</thead>

		<tbody>
			<% if current_user %>
				<% @posts.each do |post| %>
					<tr class ="tr">
						<td><%= post.body %></td>
						<td><%= link_to "Show", post %></td>
						<td><%= link_to "Edit", edit_post_path(post) %></td>
						<td><%= link_to "Delete", post, :class => 'delete', method: :delete, data: { confirm: "Are you sure?" } %></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<br>
	</div>
<%= link_to "New Post", new_post_path %>

